<div class="container-fluid p-3">
    <mat-icon class="float-end hover" (click)="closeModal()">close</mat-icon>

    <h1 class="titulo">Formulário de Usuário</h1>
    <h2 class="subtitulo">Para cadastrar o usuário, preencha o formulário.</h2>

    <form class="row" [formGroup]="formUser">
        <div class="col-12 col-md-6 mb-2">
            <mat-form-field class="w-100">
                <mat-label>Nome</mat-label>
                <input type="text" matInput formControlName="name" placeholder="Digite seu nome">
                @if (formUser.controls['name'].invalid) {
                  <mat-error>Digite um nome válido.</mat-error> }
              </mat-form-field>
        </div>
        <div class="col-12 col-md-6 mb-2">
            <mat-form-field class="w-100">
                <mat-label>E-mail</mat-label>
                <input type="text" matInput formControlName="email" placeholder="Digite seu email">
                @if (formUser.controls['email'].invalid) {
                  <mat-error>Digite um email válido</mat-error> }
              </mat-form-field>
        </div>
        <div class="col-12 col-md-6 mb-2">
            <mat-form-field class="w-100">
                <mat-label>Setor</mat-label>
                <input type="text" matInput formControlName="sector" placeholder="Digite seu setor">
                @if (formUser.controls['sector'].invalid) {
                  <mat-error>Digite um setor válido.</mat-error> }
              </mat-form-field>
        </div>
        <div class="col-12 col-md-6 mb-2">
            <mat-form-field class="w-100">
                <mat-label>Cargo</mat-label>
                <input type="text" matInput formControlName="role" placeholder="Digite seu cargo">
                @if (formUser.controls['role'].invalid) {
                  <mat-error>Digite um cargo válido</mat-error> }
              </mat-form-field>
        </div>
        <!-- BENEFICIOS - Select-->
        <div class="col-12 col-md-6 mb-2">
            <mat-form-field class="w-100">
                <mat-label> <mat-icon>local_hospital</mat-icon>Plano de Saúde</mat-label>
                <mat-select formControlName="heathPlan">
                  @for (plano of planosSaude; track plano) {
                    <mat-option [value]="plano.descricao">{{plano.descricao}}</mat-option>                  }
                </mat-select>
              </mat-form-field>
        </div>

        <div class="col-12 col-md-6 mb-2">
            <mat-form-field class="w-100">
                <mat-label> <mat-icon>favorite</mat-icon> Plano Odontológico</mat-label>
                <mat-select formControlName="dentalPlan">
                    <mat-option *ngFor="let planoOdont of planosOdonto" [value]="planoOdont.descricao">{{planoOdont.descricao}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col-12">
            <button class="botao-primario float-end" [disabled]="!formUser.valid" (click)="saveUser()">Salvar Informações</button>
        </div>

    </form>



</div>